.calendar {
  margin: auto;
  overflow: hidden;
  width: 728px;
  padding: 9px;
  user-select: none;
}

.calendar__decade {
  display: flex;
}

.calendar__year {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  width: 66px;
  height: 99px;
}

.calendar__week {
  display: block;
  box-sizing: border-box;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 10px;
  height: 10px;
  transition: opacity 0.3s;
  background-color: #d9d9d9;
}

.calendar__week--selected {
  border: 2px solid black;
}

/* 10 * (6 * 11 + 5) + 2 * 9 - 1 */
@media (max-width: 727px) {
  .calendar {
    width: 668px;
  }
  .calendar__week {
    width: 9px;
    height: 9px;
  }
  .calendar__year {
    height: 90px;
    width: 60px;
  }
}

/* 10 * (6 * 10 + 5) + 2 * 9 - 1 */
@media (max-width: 667px) {
  .calendar {
    width: 582px;
    padding: 6px;
  }
  .calendar__week {
    width: 8px;
    height: 8px;
  }
  .calendar__year {
    height: 81px;
    width: 54px;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

/* 10 * (6 * 9 + 3) + 2 * 6 - 1 */
@media (max-width: 581px) {
  .calendar {
    width: 522px;
    padding: 6px;
  }
  .calendar__week {
    width: 7px;
    height: 7px;
  }
  .calendar__year {
    height: 72px;
    width: 48px;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

/* 10 * (6 * 8 + 3) + 2 * 6 - 1 */
@media (max-width: 521px) {
  .calendar {
    width: 462px;
    padding: 6px;
  }
  .calendar__week {
    width: 6px;
    height: 6px;
  }
  .calendar__year {
    height: 63px;
    width: 42px;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

/* 10 * (6 * 7 + 3) + 2 * 6 - 1 */
@media (max-width: 461px) {
  .calendar {
    width: 402px;
    padding: 6px;
  }
  .calendar__week {
    width: 5px;
    height: 5px;
  }
  .calendar__year {
    height: 54px;
    width: 36px;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

/* 10 * (6 * 6 + 3) + 2 * 6 - 1 */
@media (max-width: 401px) {
  .calendar {
    padding: 6px;
    width: 331px;
  }
  .calendar__week {
    width: 4px;
    height: 4px;
  }
  .calendar__year {
    height: 45px;
    width: 30px;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

/* 10 * (6 * 5 + 2) + 2 * 6 - 1 */
@media (max-width: 331px) {
  .calendar {
    padding: 6px;
    width: 272px;
  }
  .calendar__week {
    width: 3px;
    height: 3px;
  }
  .calendar__year {
    height: 36px;
    width: 24px;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}
