<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <style>
    body {
      background: white;
    }
  </style>
</head>
<body>
  <h1>Oh no...</h1>
  <p>There is no data or something else went wrong.</p>
  <pre><code>{{ error }}</code></pre>
</body>
</html>
