<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Week for {{ startDate }}</title>

  <style>
    body {
      background: white;
    }
    img {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  </style>

</head>
<body>

  <article>
    {{ contents | safe}}
  </article>

</body>
</html>
