<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Week for {{ startDate }}</title>

  <style>
    body {
      background: white;
    }
  </style>

</head>
<body>

  <ul>
    {% for day in days %}
      <li>
        <a href="#{{ day.date }}">
          {{ day.date }} ({{ day.html | wordcount }} words)
        </a>
      </li>
    {% endfor %}
  </ul>

  {% for day in days %}
    <article id="{{ day.date }}">
      {{ day.html | safe }}
    </article>
  {% endfor %}

</body>
</html>
