<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=648, initial-scale=0.65">
  <title>Life calendar</title>
  <style>
    .calendar {
      margin: auto;
      width: 640px;
      -webkit-user-select: none;
    }

    .year {
      display: inline-flex;
      flex-wrap: wrap;
      height: 90px;
      width: 60px;
    }

    .week {
      box-sizing: border-box;
      width: 9px;
      height: 9px;
      margin-right: 1px;
      transition: opacity 1s linear 0.5s;
    }
  </style>
</head>
<body>
  <div class="calendar">
    {% for decade in calendar.decades %}
      <div class="decade">
        {% for year in decade.years %}
          <div class="year">
            {% for week in year.weeks %}
              <span
                class="week{% if week.startDate > currentDate %} week--future{% endif %}"
                style="background-color: {{ week.color }};"
                title="{{ week.title }}"
                data-start="{{ week.startDate }}"
                data-prob="{{ week.prob }}"
              ></span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <script>
    const currentDate = new Date().toISOString().slice(0, 10)
    const luckiness = Math.random()

    let lastColor = "black"
    for (const week of document.querySelectorAll(".week")) {
      if (!week.classList.contains("week--future")) {
        lastColor = week.style["background-color"]
      } else if (week.getAttribute("data-start") < currentDate) {
        week.style["background-color"] = lastColor
        week.setAttribute("data-prob", "1")
      } else if (week.getAttribute("data-prob") < luckiness) {
        week.style.opacity = 0
      }
    }
  </script>
</body>
</html>
