<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Life calendar</title>
  <style>
    .calendar {
      -webkit-user-select: none;
    }

    .decade {}

    .year {
      display: inline-flex;
      flex-wrap: wrap;
      height: 70px;
      width: 82px;
    }

    .week {
      box-sizing: border-box;
      width: 9px;
      height: 9px;
      margin-left: 1px;
    }

    .week:target {
      border: 2px solid red;
    }
  </style>
</head>
<body>
  <div class="calendar">
    {% for decade in calendar.decades %}
      <div class="decade">
        {% for year in decade.years %}
          <div class="year">
            {% for week in year.weeks %}
              <a
                class="week"
                href="#{{ week.startDate }}"
                id="{{ week.startDate }}"
                style="background-color: {% if week.startDate > currentDate %}#ddd{% else %}{{ week.color }}{% endif %};"
              ></a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</body>
</html>
