<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Week</title>
  <style>
    body {
      background: white;
    }
    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  </style>
</head>
<body>
  <h1>{{ weekStart }}</h1>
  <div>
    {{ data.contents | safe }}
  </div>
</body>
</html>
